* {
    box-sizing: border-box;
}

li {
    display: inline-block;
    width: 400px;
    height: 490px;
    background-color: white;
    margin: 4px 4px 8px 4 px;
    vertical-align: baseline;
    border: 0px solid black;
}

img {
    display: block;
    width: 100%;
}

.images {
    margin: 8px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin: 8px;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    font-size: 28px;
    color: coral;
    margin: 8px;
}

.add-to-bin a {
    display: inline-block;
    background-color: rgba(0, 128, 0, 0.411);
    color: white;
    margin: 8px 8px 8px 64px;
    padding: 4px;
    border-radius: 4px;
    text-align: center;
}